@use "./variables" as *;
// borders
@mixin border-position($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin border-all($width, $style, $color) {
  border: $width $style $color;
}

// button default
@mixin button($iconName, $background-color, $color, $hover) {
  width: 100%;
  padding: 0.7rem 0.5rem 0.1rem 0.5rem;
  @extend %font-bold;
  background-color: $background-color;
  color: $color;
  text-transform: uppercase;
  border-radius: 0.25rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: $hover;
  }
  @include tablet {
    width: 10rem;
  }
}

// flexbox
@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex-direction($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
}

// larger displays
@mixin wrap($max-width, $margin) {
  max-width: $max-width;
  margin: $margin;
}

@mixin full-width($color) {
  width: 100%;
  background: $color;
}

// responsive design
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
