// colours base;
$color-light: #ffff;
$color-grey: #5c5f62;
$color-dark: #000000;
$color-primary: #f6f6f7;
$color-secondary: #377e62;
$color-disabled: #d7d7d7;
// responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//width
$width: 100%;

// larger displays
$max-width: 1280px;
$margin-center: 0 auto;
